<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.czg.mapper.UserMapper">

   <select id="getUsers" resultType="user">
    select * from user
   </select>

    <insert id="addUser" parameterType="user">
        insert into user(name, age, tid) values (#{name},#{age},#{tid})
    </insert>

    <delete id="deleteUser" parameterType="int">
        delete from user where id=#{id}
    </delete> 
    
    <update id="updateUser" parameterType="user" >
        update user
        <trim prefix="set" suffixOverrides=",">
            <if test="name!=null">
                name=#{name},
            </if>
            <if test="age!=null">
                age=#{age},
            </if>
            <if test="tid!=null">
                tid=#{tid}
            </if>
        </trim>
        where id=#{id}
    </update>

    <select id="queryById" parameterType="int" resultType="user">
        select * from user where id=#{id}
    </select>
</mapper>